<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-white">
		<nav class="bg-gray-800 p-2 flex justify-between items-center">
			<a class="text-white font-medium hover:text-gray-400" href="/">Bethub</a>
			<a class="text-white hover:text-gray-400" href="{{ path('app_user_create') }}">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg">
					S'inscrire
				</button>
			</a>
		</nav>

		{% block body %}{% endblock %}
	</body>
</html>
